@using Microsoft.AspNetCore.Session;
@using Microsoft.AspNetCore.Http;
@{
    var ad = Context.Session.GetString("ad");
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/downloaded/css/styles.css" />
</head>
<br />
<br />
<br />
<br />
<br />
<h1 style="color:burlywood">Giris Basarili, @ad</h1>