@model AlisverisSitesi.Models.Kullanici
    <header>
        <link rel="stylesheet" href="~/lib/bootstrap/downloaded/css/styles.css" />
    </header>
@{
    ViewData["Title"] = "Edit";
}
<body id="page-top" style="background-color: #20c997; color:chocolate">
    <h1>Edit</h1>

    <h4>Kullanici</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="KullaniciID" />
                <div class="form-group">
                    <label asp-for="KullaniciAdi" class="control-label"></label>
                    <input asp-for="KullaniciAdi" class="form-control" />
                    <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="KullaniciSifresi" class="control-label"></label>
                    <input asp-for="KullaniciSifresi" class="form-control" />
                    <span asp-validation-for="KullaniciSifresi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DogumTarihi" class="control-label"></label>
                    <input asp-for="DogumTarihi" class="form-control" />
                    <span asp-validation-for="DogumTarihi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Adres" class="control-label"></label>
                    <input asp-for="Adres" class="form-control" />
                    <span asp-validation-for="Adres" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
