

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/downloaded/css/styles.css" />
</head>
<body>
    <header class="masthead">
        <h1 style="color:burlywood" class="text-center">Giris zaten yapildi.</h1>
    </header>
</body>
<footer class="bg-dark py-5">
    <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Burak Çağan Doğru - Mertcan Gökmen</div></div>
</footer>
