@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/downloaded/css/styles.css" />
</head>
<body id="page-top" style="background-color: #20c997">
    <p>
        <h1>Kullanici kayit oldu.</h1>
    </p>
</body>

