@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/downloaded/css/styles.css" />
</head>
<body style="padding-top: 100px">
    <p>
        <h1>Kullanici Olusturuldu</h1>
    </p>
</body>

