@model IEnumerable<AlisverisSitesi.Models.Kullanici>

<link rel="stylesheet" href="~/lib/bootstrap/agency-bootstrap/css/styles.css" />
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/lib/bootstrap/downloaded/css/styles.css" />
    <h1>Kullanicilari Goruntule</h1>

    <table class="table" style="color:chocolate">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.KullaniciAdi)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KullaniciAdi)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.KullaniciID">Edit</a> |
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.KullaniciID">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
