@model IEnumerable<AlisverisSitesi.Models.Siparis>

@{

    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/lib/bootstrap/downloaded/css/styles.css" />
    
}
<body>
    <header class="masthead">
        <br />
        <br />
        <br />
        @{
            foreach (var item in Model)
            {
                <p>@item.SiparisID</p>
            }
        }
    </header>
</body>