<link rel="stylesheet" href="~/lib/bootstrap/downloaded/css/styles.css" />


<header class="masthead">
    <div style="padding-top: 100px">
        <div class=" align-items-center justify-content-center text-center">
            <div>

                <h2 class="text-uppercase text-white font-weight-bold">Iletisim Bilgilerimiz</h2><br /><br />
                <h3 class="text-uppercase text-white font-weight-bold">Burak Çağan Doğru - B171210022 - 1. Öğretim C Grubu</h3><br />
                <h3 class="text-uppercase text-white font-weight-bold">Mertcan Gökmen - B171210033 - 2. Öğretim B grubu </h3>
            </div>
        </div>
    </div>
</header>
<footer class="bg-dark py-5">
    <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Burak Çağan Doğru - Mertcan Gökmen</div></div>
</footer>
