<link rel="stylesheet" href="~/lib/bootstrap/downloaded/css/styles.css" />
<body id="page-top" style="background-color: #20c997">
    <div style="padding-top: 100px">
        <h1>Iletisim Bilgilerimiz</h1>
        <h2>Burak Çağan Doğru - B171210022 - 1. Öğretim C Grubu</h2>
        <h2>Mertcan Gökmen - B171210033 - 2. Öğretim B grubu </h2>
    </div>
</body>