@model IEnumerable<AlisverisSitesi.Models.Kategori>
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    <link rel="stylesheet" href="~/lib/bootstrap/downloaded/css/styles.css" />
    @using Microsoft.AspNetCore.Builder
    @using Microsoft.AspNetCore.Localization
    @using Microsoft.Extensions.Options
    @using Microsoft.AspNetCore.Mvc.Localization

}
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
@{
    var kullaniciVar = Context.Session.GetInt32("kullaniciVar");
}
@{
    string culture = "", uiculture = "";
    if (Context.Request.QueryString.HasValue)
    {
        string url = Context.Request.QueryString.Value;
        culture = Context.Request.Query["culture"];
        uiculture = Context.Request.Query["ui-culture"];
    }
}

@{
    @using System.Web
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    var dil = HttpContextAccessor.HttpContext.Request.Cookies["dil1"].ToString();
    var yeniDil = HttpContextAccessor.HttpContext.Request.Cookies["dil3"].ToString();
    int yeniCookie = int.Parse(yeniDil) + 1;
    <link rel="stylesheet" href="~/lib/bootstrap/downloaded/css/styles.css" />
}

<body id="page-top" asp-action="Index" asp-route-culture="@culture" asp-route-ui-culture="@uiculture">
    <header class="masthead">
        <br />
        @{ if (@requestCulture.RequestCulture.UICulture.Name == "tr")
                                        {
                            ViewData["Title"] = "Kategoriler";
                            <h1 class="text-uppercase text-white font-weight-bold text-center">
                                Kategoriler
                            </h1> }
            else
            {
                ViewData["Title"] = "Categories";
                            <h1 class="text-uppercase text-white font-weight-bold text-center">
                                Categories
                            </h1> }
                            }
        <br /><br /><br />
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    @foreach (var kategori in Model)
                    {
        <div class="col-lg-4 col-sm-6">
            <a href="https://localhost:44396/Kategori/@kategori.KategoriAd" class="portfolio-box">
                <img class="img-fluid" src="~/lib/bootstrap/downloaded/assets/img/portfolio/fullsize/1.jpg" alt="">
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-50">Category</div>
                    <div class="project-name">@kategori.KategoriAd</div>
                </div>
            </a>
        </div>}
                </div>
            </div>
            <script>
                function myFunction() {
                    document.cookie = 'dil2=tr';

                    location.reload();
                    document.getElementById("myCheck2").click();
                }
            </script>

        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        </header>
</body>
<footer class="bg-dark py-5">
    <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Burak Çağan Doğru - Mertcan Gökmen</div></div>
</footer>