@model AlisverisSitesi.Models.Urun

@{ ViewData["Title"] = "Create"; }
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/downloaded/css/styles.css" />
</head>
<body id="page-top">
    <header class="masthead">
       
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="UrunEkle">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UrunAd" class="control-label text-white"></label>
                        <input asp-for="UrunAd" class="form-control" />
                        <span asp-validation-for="UrunAd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StokMiktari" class="control-label text-white"></label>
                        <input asp-for="StokMiktari" class="form-control" />
                        <span asp-validation-for="StokMiktari" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UrunResimURL" class="control-label text-white"></label>
                        <input asp-for="UrunResimURL" class="form-control" />
                        <span asp-validation-for="UrunResimURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UrunFiyat" class="control-label text-white"></label>
                        <input asp-for="UrunFiyat" class="form-control" />
                        <span asp-validation-for="UrunFiyat" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="KategoriID" class="control-label text-white"></label>
                        <input asp-for="KategoriID" class="form-control" />
                        <span asp-validation-for="KategoriID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="KategoriAdi" class="control-label text-white"></label>
                        <input asp-for="KategoriAdi" class="form-control" />
                        <span asp-validation-for="KategoriAdi" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Urun Ekle" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </header>
</body>

<footer class="bg-dark py-5">
    <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Burak Çağan Doğru - Mertcan Gökmen</div></div>
</footer>
