<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AlisverisSitesi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/agency-bootstrap/css/styles.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Onerilenler">Önerilenler</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Kategori" asp-action="Kategoriler">Kategoriler</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Iletisim">Iletisim</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Giris">Giris</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Kullanici" asp-action="UyeOl">UyeOl</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    @RenderSection("Scripts", required: false)
</body>
</html>
