@model IEnumerable<AlisverisSitesi.Models.Urun>

<body body id="page-top" style="background-color: #20c997">
    <table style="height: 15%; width:75%">
        <tr> 
            <th>Urun Adi</th>
            <th>Urun Fiyati</th>
            <th>Urun Resmi</th>
        </tr>
        @foreach(var item in Model){
        <tr>
            <td>@item.UrunAd</td>
            <td>@item.UrunFiyat</td>
            <td><img class="resim1" src ="@item.UrunResimURL" /></td>
        </tr>
        }
    </table>
</body>
