@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <img class ="resim1" src="https://www.greyder.com/Content/media/ProductImg/original/0k1sa14191-13188-14191-gunluk-erkek-ayakkabi-siyah-637372295591606993.jpg" alt = "Ayakkabi" />
</div>
<div>
    <img class ="resim2"src="https://i4.hurimg.com/i/hurriyet/75/0x0/5e7ae1aa18c77317f0f519ed.jpg" alt="Bilgisayar"/>
</div>